<h1> Upcoming Live Muzaks </h1>

{{new-event saveEvent2="saveEvent3"}}

<ul>
  {{#each model as |event|}}
    {{event-tile event=event update="update" destroyEvent="destroyEvent"}}
  {{/each}}
</ul>


<!-- <ul >
  {{#each model as |event|}}
    <li> {{event.date}}.......{{event.band}}.......{{event.venue}} in {{event.city}}
      <br>
      <img src="{{event.image}}" alt="band pic">
    </li>
    {{/each}}
</ul> -->

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
